html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/*背景图案*/
body {
  background: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 120px 120px;
  background-attachment: fixed;
}

/*关闭按钮*/
a {
  text-decoration: none;
  margin: 100px;
}
/*书签*/
.bookmark {
  display: inline-block;
  text-indent: -999em;
  width: 0;
  height: 0;
  border-width: 20px 15px;
  border-color: red red transparent red;
  border-style: solid;
}
/* .close {
  font-size: 3em;
  padding: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  background: rgb(240, 208, 120);
  border-radius: 50%;
  transition: all 1s linear;
} */
.close:hover {
  transform: rotate(180deg);
  background: rgb(69, 219, 56);
}
.close {
  font-size: 0px;
  display: inline-block;
  background: rgb(240, 208, 120);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: all 1s linear;
}
.close::before,
.close::after {
  content: "";
  width: 50px;
  height: 5px;
  background: rgb(233, 233, 233);
  display: block;
}
.close::before {
  transform: translateY(23px) rotate(45deg);
}
.close::after {
  transform: translateY(18px) rotate(-45deg);
}

/*绘制菜单图标*/
.menu {
  display: inline-block;
  text-indent: -999em;
  font-size: 20px;
  width: 2em;
  height: 2.3em;
  background: #333;
  border-radius: 0.3em;
  position: relative;
}
.menu::after {
  content: "";
  position: absolute;
  width: 1em;
  left: 0.5em;
  top: 0.2em;
  box-shadow: 0 0.5em 0 0.1em #fff, 0 1em 0 0.1em #fff, 0 1.5em 0 0.1em #fff;
}
.menu:hover {
  background: rgb(23, 238, 148);
}

/*会话框*/
.message {
  position: relative;
  border-radius: 5px;
  padding: 1em 1.2em;
  width: 250px;
  box-shadow: 2px 5px 1px rgba(75, 73, 109, 0.364);
  color: #fff;
  background: rgb(127, 143, 177);
}

.message::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -40px;
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(127, 143, 177);
}

/*播放按钮*/
.play,
.fast,
.next {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 50px;
  background: #fff;
  box-shadow: 2px 2px 5px 3px rgba(48, 107, 73, 0.3);
  font-size: 0;
  transition: all 0.5s ease-in-out;
}
.play:hover,
.fast:hover,
.next:hover {
  transform: rotate(360deg) scale(1.1);
}
.play::after,
.fast::before,
.fast::after,
.next::before,
.next::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(191, 243, 85);
}
.play::after {
  left: 22px;
}
.fast::after {
  left: 26px;
}

.next::after {
  border-color: transparent transparent transparent #fff;
}
.next::before {
  left: 22px;
}

/*文字渐变*/
.gradBtn {
  background: linear-gradient(to right bottom, red, green, blue, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
}

/*锯齿彩旗效果*/
.flags {
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  background: red;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%),
    linear-gradient(-45deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}


/* dropdown 箭头 */
.dropdown{
  position: relative;
  line-height: 50px;
  padding: 5px 20px;
  background-color: rgba(15, 149, 238, 0.692);
  font-size: 18px;
}
.dropdown::after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 85%;
  width: 7px;
  height: 7px;
  border: 2px solid red;
  border-color:red red transparent transparent;
  transform:translateY(-50%) rotate(45deg);
}
.dropdown:hover::after{
    transform:translateY(-50%) rotate(135deg);
}
